.wrapper {
    background: url(https://bizweb.dktcdn.net/100/438/408/themes/863105/assets/bg_login.jpg?1663810072980) bottom center
        no-repeat;
    padding: 130px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -30px;
}

.container {
    height: 640px;
    max-width: 580px;
    padding: 40px 100px;
    background-color: white;
}
.wrap-title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    .title-register {
        margin-left: 20px;
        font-size: 2.6rem;
        color: var(--primary);
    }
}
.input-register {
    display: flex;
    align-items: center;
    border: 1px solid #eaebf3;
    margin-bottom: 10px;
    border-radius: 4px;
    input {
        width: 100%;
        padding: 14px;
        font-size: 1.4rem;
    }
    .icon-show-hide {
        background-color: transparent;
        padding: 10px;
        cursor: pointer;
    }
}

.btn-register {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.err-validate {
    display: block;
    text-align: center;
}
