.wrapper {
    margin-top: 20px;
    width: 20%;
    height: auto;
    padding: 10px;
}

.product-img {
    display: block;
    overflow: hidden;
    border-radius: 4px;
    max-height: 300px;
    img {
        width: 100%;
        border-radius: 4px;
        object-fit: cover;
        transition: all 0.5s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.wrapper-content {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    .title {
        font-size: 1.4rem;
        font-weight: 400;
        min-height: 64px;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .btn-buy {
        font-size: 1.4rem;
        padding: 4px 14px;
        height: 40px;
        color: #54546c;
        background-color: transparent;
        border-radius: 4px;
        cursor: pointer;
    }
}

.price {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 10px;
    color: red;
}

.price-discount {
    text-decoration: line-through;
    font-size: 14px;
    color: #8a8a8f;
    line-height: 17px;
}
