.wrapper {
    margin-top: 86px;
    width: 100%;
    min-height: 1000px;
    .action-btn {
        font-size: 1.4rem;
        text-align: center;
        a {
            padding: 4px;
            &:hover {
                color: var(--primary);
            }
        }
        span {
            padding: 4px;
            color: var(--primary);
        }
    }
    h1 {
        text-align: center;
        font-size: 2.2rem;
        color: var(--primary);
    }
    .wrap-btn {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        background: #f8f8f8;
        padding: 20px 10px;
    }
}

.img-panner {
    img {
        border: 0;
        max-width: 100%;
        height: auto;
    }
}

// product
.wrap-container {
    display: flex;
    .selective {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin-bottom: 20px;
        padding: 90px 0 0px 10px;
        span {
            padding: 6px 0;
            display: block;
            color: #333;
            cursor: pointer;
        }
    }
}
.wrap {
    padding-top: 45px;
    width: 80%;
}
.wrap-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    .total-product {
        font-size: 1.6rem;
        color: #7a7a9d;
    }
    .wrapper-sort {
        margin-right: 10px;
    }
    .sort {
        padding: 14px 100px 14px 10px;
        background-color: var(--while);
        border: 1px solid #dde1ef;
        border-radius: 4px;
        cursor: pointer;
    }
}
.wrapper-product {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
}

// paging
.btn-paging {
    display: flex;
    justify-content: center;
    span {
        display: inline-block;
        margin: 0 4px 6px;
        color: #7a7a9d;
        border-radius: 4px;
        width: 40px;
        background-color: var(--while);
        border: solid 1px #dde1ef;
        text-align: center;
        padding: 8px;
        align-items: center;
        font-size: 1.6rem;
        cursor: pointer;
        &:hover {
            background-color: var(--primary);
            color: var(--while);
        }
    }
}
