.wrappper {
    width: 256px;
    height: 100vh;
    background-color: #363740;
    position: fixed;
    top: 0;
}

.dashboard {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #a4a6b3;
    border-bottom: 1px solid #dfe0eb;
    h1 {
        padding-left: 10px;
    }
}
.wrap-event {
    padding: 10px;
    height: 540px;
}
.tilte-event {
    display: block;
    color: #a4a6b3;
    padding: 16px 40px;
    cursor: pointer;
    span {
        margin-left: 10px;
        color: var(--while);
    }
    &:hover {
        background-color: var(--while);
        color: #363740;
        border-radius: 6px;
        span {
            color: #363740;
        }
    }
}
.wrap-btn {
    padding: 10px;
}

.btn-logout {
    display: block;
    text-align: center;
    color: #dfe0eb;
    font-size: 1.8rem;
    padding: 10px;
    border: 1px solid #dfe0eb;
    border-radius: 4px;
}
