.wrapper {
    margin: auto;
    margin-top: 100px;
    max-width: 1320px;
    min-height: 1000px;
}

.section-home {
    font-size: 1.4rem;
    color: var(--black);
    a {
        color: var(--black);
        &:hover {
            color: var(--primary);
        }
    }
    span {
        margin: 0 6px;
        &:hover {
            color: var(--primary);
        }
    }
}

.product-detail {
    display: flex;
}
.img-product {
    width: 50%;
    padding-right: 20px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.information {
    width: 50%;
}

.name-product {
    font-size: 1.8rem;
    color: var(--black);
    font-weight: 500;
    padding-bottom: 10px;
}
.id-product {
    display: block;
    padding: 4px 0;
}

.price-product {
    display: block;
    font-size: 2.2rem;
    color: red;
    font-weight: 500;
    padding: 4px 0;
}

.img-banner {
    width: 100%;
    margin-bottom: 10px;
    img {
        border: 0;
        max-width: 100%;
        height: auto;
    }
}

.size-product {
    padding-right: 10px;
}

.total-product {
    color: var(--primary);
}

.quantity-product {
    display: block;
    padding: 10px 0;
    font-size: 1.8rem;
}
.action-quantity {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.btn-subtraction,
.btn-summation {
    width: 48px;
    height: 40px;
    font-size: 1.4rem;
    color: var(--black);
    background-color: var(--while);
    border: 1px solid #dde1ef;
    cursor: pointer;
}

.selection-quantity {
    display: inline-block;
    padding: 7px 22px;
    border: 1px solid #dde1ef;
}

.btn-add-cart {
    background: #fff;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-size: 1.4rem;
    margin-left: 12px;
    border: 1px #2a2a86 solid;
    padding: 15px 34px;
    color: #2a2a86;
    &:hover {
        background-color: var(--primary);
    }
}

.identification {
    h1 {
        font-size: 1.6rem;
        color: var(--black);
        font-weight: 500;
        padding: 10px 0;
    }
    p {
        padding-left: 25px;
        background: url(https://bizweb.sapocdn.net/100/438/408/themes/863105/assets/tick-line.svg) 0 4px no-repeat;
        margin-bottom: 5px;
        font-size: 1.8rem;
    }
}
.suggestions {
    margin-top: 30px;
    text-align: center;
    font-size: 2.2rem;
    color: var(--primary);
}

.wrapper-product {
    display: flex;
    flex-wrap: wrap;
}
