.wrappper {
    margin-top: 186px;
    width: 100%;

    min-height: 1000px;
    .action-btn {
        font-size: 1.4rem;
        text-align: center;
        a {
            padding: 4px;
            &:hover {
                color: var(--primary);
            }
        }
        span {
            padding: 4px;
            color: var(--primary);
        }
    }
    h1 {
        text-align: center;
        font-size: 2.2rem;
        color: var(--primary);
    }
    .wrapper-product {
        display: flex;
        flex-wrap: wrap;
    }
}
