.wrapper {
    margin: 70px 0 0 256px;
    background-color: #f7f8fc;
    height: 100vh;
}

.container {
    padding: 16px;
}

.chart {
    margin-top: 20px;
    height: 460px;
    background-color: #ffffff;
    padding: 26px;
    border: 1px solid #dfe0eb;
}
