.wrapper {
    margin: 70px 0 0 256px;
    background-color: #f7f8fc;
    height: 100vh;
}
.container {
    padding: 16px;
}
.statistic {
    display: flex;
}
.box-statistic {
    text-align: center;
    width: 25%;
    height: 134px;
    color: #9fa2b4;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 26px;
    border: 1px solid #dfe0eb;
    margin-right: 20px;
    cursor: pointer;
    span {
        display: block;
        margin-bottom: 8px;
    }
    h1 {
        color: var(--black);
    }
    &:hover {
        h1 {
            color: #3751ff;
        }
        color: #3751ff;
        border-color: #3751ff;
    }
}
