.wrapper {
    margin: 70px 0 0 256px;
    background-color: #f7f8fc;
    height: 100vh;
}
.container {
    padding: 16px;
}
.statistic {
    display: flex;
}
.box-statistic {
    text-align: center;
    width: 25%;
    height: 134px;
    color: #9fa2b4;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 26px;
    border: 1px solid #dfe0eb;
    margin-right: 20px;
    cursor: pointer;
    span {
        display: block;
        margin-bottom: 8px;
    }
    h1 {
        color: var(--black);
    }
    &:hover {
        h1 {
            color: var(--primary);
        }
        color: var(--primary);
        border-color: var(--primary);
    }
}

.box-statistic:nth-child(4) {
    margin-right: 0;
}

.chart {
    display: flex;
    margin-top: 20px;
    height: 460px;
    background-color: #ffffff;
    padding: 26px;
    border: 1px solid #dfe0eb;
    .chart-bar,
    .chart-line {
        width: 50%;
        height: 100%;
    }
}

.list-product {
    margin-top: 20px;
    padding: 26px;
    background-color: #ffffff;
    border: 1px solid #dfe0eb;
    h1 {
        font-size: 2rem;
        margin-bottom: 10px;
        text-align: center;
    }
}

.wrap-product {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 40px;
        height: auto;
    }
    span {
        margin-left: 10px;
    }
}
